{{ form_start(category_form) }}


        {{ form_row(category_form.name, {
            label:'Nom de la catégorie:'
        }) }}


<button type="submit" class="button is-success">
    Enregistrer
</button>
{{ form_end(category_form) }}